<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Gerenciamento de Atividades</li>
  </ol>
</nav>

  <div class="container">
    <h2>Lista de Tarefas</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tarefa</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarefa of tarefas">
          <td>{{ tarefa.id }}</td>
          <td>{{ tarefa.tarefa }}</td>
          <td>{{ tarefa.status }}</td>
        </tr>

      </tbody>
    </table>
  </div>



